<!DOCTYPE html>
<html>

<head>
    <title>Booking Successful</title>
</head>

<body>

    <h1>Booking Successful 🎉</h1>

    <hr>

    <h2>Movie: {{ seat.movie.title }}</h2>
    <h2>PaymentSuccessful </h2>

    <p><strong>Seat Number:</strong> {{ seat.seat_number }}</p>

    <p><strong>Ticket Price:</strong> ₹{{ seat.movie.price }}</p>

    <hr>

    <p>Your ticket has been booked successfully.</p>

    <p>A confirmation email has been sent to your email address 📧</p>

    <br>

    <a href="/">
        Go Home
    </a>

</body>

</html>